* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#id01 {
  position: absolute;
}
.holder {
  height: 500px;
}

form {
  background-color: white;
  border-radius: 10px;
  text-align: center;
  padding: 3rem;
  max-height: 1000px;
  font-size: 1rem;
}
form input {
  width: 400px;
  padding: 0.4rem;
  outline: none;
  font-size: 1.4rem;
  border: 1px solid gray;
  margin-top: 10px;
  border-radius: 10px;
}
.time input {
  width: 200px;
  border-radius: 10px;
}
form input:focus {
  outline: 1px solid var(--black);
}
button {
  background-color: #dc3545;
  padding: 1rem;
  font-weight: 700;
  text-align: center;
  color: white;
  margin-top: 20px;
  border: none;
  width: 300px;
  font-size: 1.4rem;
  border-radius: 10px;
}
input[type="file"] {
  font-size: 1rem;
}
textarea {
  width: 500px;
  resize: none;
  height: 200px;
  font-size: 1.4rem;
  border-radius: 10px;
  padding: 1rem;
}

label {
  font-size: 1.4rem;
  font-weight: bold;
}

form > label {
  position: relative;
  left: -30px;
}
