/* NAVBAR SA GILID */

.holders {
  width: 250px;
  padding: 20px;
  margin: 0;
  height: 1000px;
  z-index: 0;
  font-weight: bold;
}

.links {
  color: black;
  height: 200px;
  margin: 200px 0 70px 0px;
}
/* BUTTON NA ALL */
#kabila {
  color: black;
  height: 80px;
  margin: 0;
  margin: 85px 0 100px 0px;
  /* background-color: red; */
}
#links > button:hover,
#link button:hover,
.classification button:hover {
  text-decoration: underline;
  color: rgb(2, 47, 83);
}
.links i,
#kabila i {
  margin-right: 10px;
}
.classification {
  margin-left: 30px;
  max-height: 450px;
}

.classification button {
  margin: 10px;
}

.faces {
  margin-top: 80px;
}
/* TASK */

.holder {
  background-color: #f7fbf6;
  /* background-color: red; */
  width: 900px;
  padding: 20px;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 4px 11px 21px -5px rgba(32, 34, 33, 0.31);
  -webkit-box-shadow: 4px 11px 21px -5px rgba(32, 34, 32, 0.31);
  -moz-box-shadow: 4px 11px 21px -5px rgba(32, 34, 33, 0.31);
}
.task {
  padding: 20px;
  background-color: #eafff5;
  margin: 10px;
  border-radius: 10px;
  border: 1px solid #b5e8d0;
}

.holder .settings {
  position: absolute;
  right: 0;
}

section.task-holder {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.info {
  display: flex;
  justify-content: space-between;
  width: 350px;
  position: relative;
}

.info button {
  background-color: #eafff5;
}

p.title {
  margin: 0;
  font-size: 16px;
  font-weight: bold;
}
div.time {
  border-top: 0.5px solid #b5e8d0;
}

p.time {
  margin: 0;
}

section.add {
  border: 2px dashed gray;
  border-radius: 10px;
  width: 300px;
  height: 60px;
  margin: 0 40%;
}

/* COLAB */

.colab {
  padding: 0 40px;
  position: absolute;
  right: 0;
  min-height: 93vh;
  border-left: 1px solid #eceeec;
}

.collabs {
  padding: 30px;
  background-color: #eaf1ff;
  height: 150px;
  margin: 10px;
  border-radius: 10px;
}
.info {
  display: flex;
  justify-content: space-between;
  width: 300px;
}
.star {
  border: none;
  cursor: pointer;
  /* background-color: #eafff5; */
  margin-top: -4px;
  display: inline-block;
  padding: 0;
}

.faces img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: 0 5px;
}

/* 3333333333DOTS */

.dropdown-container {
  width: 30px;
}

.three-dots:after {
  cursor: pointer;
  color: rgb(0, 0, 0);
  content: "\2807";
  font-size: 20px;
  padding: 0 5px;
}

.dropdown a {
  text-decoration: none;
  color: rgb(45, 46, 46);
}

a div {
  padding: 2px;
}

.dropdown {
  width: 100px;
  position: absolute;
  background-color: #cedcf8;
  outline: none;
  opacity: 0;
  z-index: -1;
  max-height: 0;
  transition: opacity 0.1s, z-index 0.1s, max-height 0.2s;
}

.dropdown-container:focus {
  outline: none;
}

.dropdown-container:focus .dropdown {
  opacity: 1;
  z-index: 100;
  max-height: 100vh;
  transition: opacity 0.2s, z-index 0.2s, max-height 0.2s;
}
.column {
  float: left;
  width: 33.33%;
  padding: 10px;
  margin: 10px;
  background-color: rgb(62, 131, 187);
}
