* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  background-image: url("background.jpg");
}

.photo img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

:root {
  --red: hsl(0, 100%, 74%);
  --green: hsl(154, 59%, 51%);
  --violet: hsl(248, 32%, 49%);
  --black: hsl(249, 10%, 26%);
  --gray: hsl(246, 25%, 77%);
}

main.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 95vh;
  margin: 0 10%;
}

.right {
  display: flex;
  flex-direction: column;
  width: 40%;
  justify-content: center;
  align-items: center;
  min-width: 600px;
}
h1 {
  padding: 1rem;
  font-weight: 700;
  border-radius: 10px;
  text-align: center;
  margin: auto;
  font-size: 2rem;
}
form {
  background-color: white;
  border-radius: 10px;
  width: 600px;
  text-align: center;
  margin-top: 20px;
  padding: 3rem;
  max-height: 1000px;
  font-size: 1rem;
}
form input {
  width: 90%;
  padding: 0.8rem;
  border-radius: 10px;
  outline: none;
  border: 1px solid var(--gray);
  font-size: 1.4rem;
}
form input:focus {
  outline: 1px solid var(--black);
}
.right input[type="button"] {
  background-color: #dc3545;
  padding: 1rem;
  font-weight: 700;
  border-radius: 10px;
  text-align: center;
  color: white;
  margin-top: 20px;
}

.right input[type="file"] {
  font-size: 1rem;
}
